<div class="container-fluid">
  <div class="navbar">
    <a href="#slide01" id="logo" title="IEEE SB MESCE">
      <img src="assets/logos/ieee white.png" alt="" class="d-none d-md-block" />
      <img src="assets/logos/ieee black.png" alt="" class="d-md-none" />
    </a>
    <div class="navigation-row">
      <nav id="navigation">
        <button type="button" class="navbar-toggle">
          <i class="fa fa-bars"></i>
        </button>
        <div class="nav-box navbar-collapse">
          <ul class="navigation-menu nav navbar-nav navbars" id="nav">
            <li data-menuanchor="slide01" class="active">
              <a href="#slide01">Home</a>
            </li>
            <li data-menuanchor="slide02"><a href="#slide02">About</a></li>
            <li data-menuanchor="slide03"><a href="#slide03">Societies</a></li>
            <li data-menuanchor="slide04"><a href="#slide04">My Skills</a></li>
            <li data-menuanchor="slide05"><a href="#slide05">My Work</a></li>
            <li data-menuanchor="slide06">
              <a href="#slide06">Testimonials</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <a
      href="#slide01"
      id="logo"
      title="IEEE SB MESCE"
      class="d-none d-md-block"
    >
      <img
        style="filter: invert(1)"
        width="100"
        height="100"
        src="assets/logos/ieeesblogo.svg"
        alt=""
      />
    </a>
  </div>
</div>
