<div class="text-right">
    <ul class="social-icons">
        <li><a href="https://www.facebook.com/ieeesbmesce" title="Facebook" target="_blank"
                rel="noopener noreferrer"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://www.instagram.com/ieeesbmesce/" title="Instagram" target="_blank"
                rel="noopener noreferrer"><i class="fa fa-instagram"></i></a></li>
        <li><a href="https://www.youtube.com/channel/UCOFCN8GtjeHg4jGJ_EONYOw" title="youtube"
                target="_blank" rel="noopener noreferrer"><i class="fa fa-youtube-play"></i></a></li>
        <li><a href="https://www.linkedin.com/company/ieeesbmesce/mycompany/" title="Linkedin"
                title="Instagram" target="_blank" rel="noopener noreferrer"><i
                    class="fa fa-linkedin"></i></a></li>
    </ul>
</div>
</div>